@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600&display=swap');

$font-base: 'Poppins', sans-serif;
$font-logo: 'Permanent Marker', cursive;

$white: #fff;
$black: rgb(61, 61, 61);
$grey: #bfb4b4;
$pink: #f2e0e1;
$red:#cc5460;
$purple: #b2ace6;

$background: rgb(255, 249, 249);
$shadow: #5b5b5b;
$text-shadow: rgb(226, 210, 255);

$navHeight: 50px;
$hover-color: $red;
$margin-sm: 50px;
$margin-md: 100px;

$transition-speed-fast: 0.2s;
$transition-speed-normal: 0.5s;