@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600&display=swap');

$font-base: 'Poppins', sans-serif;
$font-logo: 'Permanent Marker', cursive;

$white: #fff;
$black: rgb(61, 61, 61);
$grey: #f3f3f3;
$pink: #ffeeef;
$red:#cc5460;
$purple: #b2ace6;

$navHeight: 50px;
$hover-color: $red;

$transition-speed-fast: 0.2s;
$transition-speed-normal: 0.5s;